Repository awinogradov/faraway.ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, node

.lintstagedrc:

{
  '*.{js,jsx,ts,tsx}': ['eslint '],
  '*.json': 'node',
}

fix: add missed ci script
  projects/functions/package.json
Due: node

chore: cleanup fastlane artifacts
  match_version.txt
Due: none

feat: mongoDb implementation
  .eslintrc.js
  .gitignore
  package-lock.json
  package.json
  projects/functions/.gitignore
  projects/functions/.nvmrc
  projects/functions/mocha.config.ts
  projects/functions/mocha.opts
  projects/functions/package-lock.json
  projects/functions/package.json
  projects/functions/src/configs/index.ts
  projects/functions/src/configs/production.ts
  projects/functions/src/configs/stage.ts
  projects/functions/src/database/Collection/Collection.model.ts
  projects/functions/src/database/Collection/Collection.service.ts
  projects/functions/src/database/Collection/Collection.spec.ts
  projects/functions/src/database/User/User.model.ts
  projects/functions/src/database/User/User.service.ts
  projects/functions/src/database/User/User.spec.ts
  projects/functions/src/database/index.ts
  projects/functions/src/database/utils/connection.spec.ts
  projects/functions/src/database/utils/connection.ts
  projects/functions/src/database/utils/serviceProvider.ts
  projects/functions/src/index.ts
  projects/functions/src/typings/index.ts
  projects/functions/src/typings/schema.ts
  projects/functions/tsconfig.json
Due: eslint, node

chore(functions): run tests in CI
  .circleci/config.yml
Due: none

chore(functions): add job to CI list
  .circleci/config.yml
Due: none

chore(native): stub specs
  projects/native/package.json
Due: node

chore(function): linking env
  .circleci/config.yml
  README.md
  package-lock.json
  package.json
  projects/functions/.gitignore
  projects/functions/src/configs/index.ts
  scripts/linkEnv.js
Due: eslint, node

feat(functions): Location model
  projects/functions/src/configs/production.ts
  projects/functions/src/configs/stage.ts
  projects/functions/src/database/Collection/Collection.model.ts
  projects/functions/src/database/Collection/Collection.service.ts
  projects/functions/src/database/Location/Location.model.ts
  projects/functions/src/database/Location/Location.service.ts
  projects/functions/src/database/Location/Location.spec.ts
  projects/functions/src/database/User/User.service.ts
  projects/functions/src/database/index.ts
  projects/functions/src/googleMaps/index.ts
  projects/functions/src/typings/index.ts
Due: eslint

feat(functions): Note model
  projects/functions/src/database/Collection/Collection.spec.ts
  projects/functions/src/database/Location/Location.spec.ts
  projects/functions/src/database/Note/Note.model.ts
  projects/functions/src/database/Note/Note.service.ts
  projects/functions/src/database/Note/Note.spec.ts
  projects/functions/src/database/User/User.spec.ts
  projects/functions/src/database/index.ts
Due: eslint

feat(functions): Attraction model
  projects/functions/src/database/Attraction/Attraction.model.ts
  projects/functions/src/database/Attraction/Attraction.seed.ts
  projects/functions/src/database/Attraction/Attraction.service.ts
  projects/functions/src/database/Attraction/Attraction.spec.ts
  projects/functions/src/database/Collection/Collection.model.ts
  projects/functions/src/database/Collection/Collection.seed.ts
  projects/functions/src/database/Collection/Collection.service.ts
  projects/functions/src/database/Collection/Collection.spec.ts
  projects/functions/src/database/Location/Location.model.ts
  projects/functions/src/database/Location/Location.seed.ts
  projects/functions/src/database/Location/Location.service.ts
  projects/functions/src/database/Location/Location.spec.ts
  projects/functions/src/database/Note/Note.seed.ts
  projects/functions/src/database/Note/Note.service.ts
  projects/functions/src/database/Note/Note.spec.ts
  projects/functions/src/database/User/User.model.ts
  projects/functions/src/database/User/User.seed.ts
  projects/functions/src/database/User/User.service.ts
  projects/functions/src/database/User/User.spec.ts
  projects/functions/src/typings/index.ts
Due: eslint

feat(functions): Collection relations
  projects/functions/src/database/Attraction/Attraction.model.ts
  projects/functions/src/database/Attraction/Attraction.seed.ts
  projects/functions/src/database/Attraction/Attraction.service.ts
  projects/functions/src/database/Attraction/Attraction.spec.ts
  projects/functions/src/database/Collection/Collection.model.ts
  projects/functions/src/database/Collection/Collection.seed.ts
  projects/functions/src/database/Collection/Collection.service.ts
  projects/functions/src/database/Collection/Collection.spec.ts
  projects/functions/src/database/Location/Location.seed.ts
  projects/functions/src/database/Location/Location.service.ts
  projects/functions/src/database/Location/Location.spec.ts
  projects/functions/src/database/Note/Note.model.ts
  projects/functions/src/database/Note/Note.service.ts
  projects/functions/src/database/Note/Note.spec.ts
  projects/functions/src/database/User/User.model.ts
  projects/functions/src/database/User/User.seed.ts
  projects/functions/src/database/User/User.service.ts
  projects/functions/src/database/User/User.spec.ts
Due: eslint

chore(functions): move to providers
  projects/functions/src/index.ts
  projects/functions/src/providers/database/Attraction/Attraction.model.ts
  projects/functions/src/providers/database/Attraction/Attraction.seed.ts
  projects/functions/src/providers/database/Attraction/Attraction.service.ts
  projects/functions/src/providers/database/Attraction/Attraction.spec.ts
  projects/functions/src/providers/database/Collection/Collection.model.ts
  projects/functions/src/providers/database/Collection/Collection.seed.ts
  projects/functions/src/providers/database/Collection/Collection.service.ts
  projects/functions/src/providers/database/Collection/Collection.spec.ts
  projects/functions/src/providers/database/Location/Location.model.ts
  projects/functions/src/providers/database/Location/Location.seed.ts
  projects/functions/src/providers/database/Location/Location.service.ts
  projects/functions/src/providers/database/Location/Location.spec.ts
  projects/functions/src/providers/database/Note/Note.model.ts
  projects/functions/src/providers/database/Note/Note.seed.ts
  projects/functions/src/providers/database/Note/Note.service.ts
  projects/functions/src/providers/database/Note/Note.spec.ts
  projects/functions/src/providers/database/User/User.model.ts
  projects/functions/src/providers/database/User/User.seed.ts
  projects/functions/src/providers/database/User/User.service.ts
  projects/functions/src/providers/database/User/User.spec.ts
  projects/functions/src/providers/database/index.ts
  projects/functions/src/providers/database/utils/connection.spec.ts
  projects/functions/src/providers/database/utils/connection.ts
  projects/functions/src/providers/database/utils/serviceProvider.ts
  projects/functions/src/providers/googleMaps/index.ts
Due: eslint

chore(functions): optimize parsers
  projects/functions/package-lock.json
  projects/functions/package.json
  projects/functions/src/index.ts
  projects/functions/src/parse/index.ts
  projects/functions/src/parse/instagram.js
  projects/functions/src/parse/strategies.ts
  projects/functions/src/providers/googleMaps/index.ts
  projects/functions/src/providers/instagram/index.ts
Due: eslint, node

chore(functions): deploy in production mode
  README.md
  projects/functions/package-lock.json
  projects/functions/package.json
  projects/functions/src/configs/common.ts
  projects/functions/src/configs/helpers.ts
  projects/functions/src/configs/production.ts
  projects/functions/src/configs/stage.ts
  projects/functions/src/providers/database/utils/connection.ts
  projects/functions/src/providers/googleMaps/index.ts
  projects/functions/src/typings/index.ts
  projects/functions/tsconfig.json
Due: eslint, node

chore: share models typings
  README.md
  projects/functions/package.json
  projects/functions/src/index.ts
  projects/functions/src/providers/googleMaps/index.ts
  projects/functions/src/providers/instagram/index.ts
  projects/native/package.json
  projects/native/src/providers/redux/sagas/clipboard.ts
  projects/native/src/screens/Add.tsx
Due: eslint, node

chore: cleanup
  README.md
  projects/functions/src/providers/instagram/index.ts
Due: eslint

chore: provide available and typed functions
  projects/functions/src/index.ts
  projects/functions/src/providers/googleMaps/index.ts
  projects/functions/src/providers/instagram/index.ts
  projects/native/src/providers/functions/index.ts
  projects/native/src/providers/redux/sagas/clipboard.ts
  projects/native/src/screens/Add.tsx
Due: eslint

chore(native): show google maps info
  projects/native/src/components/Swing/index.tsx
  projects/native/src/providers/functions/index.ts
  projects/native/src/providers/redux/actions/add.ts
  projects/native/src/providers/redux/reducers/add.ts
  projects/native/src/providers/redux/sagas/clipboard.ts
  projects/native/src/providers/redux/store/types.ts
  projects/native/src/screens/Add.tsx
Due: eslint

fix(native): resolve auth screen
  projects/native/src/containers/Bar/index.tsx
  projects/native/src/containers/MainScreen/index.tsx
  projects/native/src/containers/MainScreenView/index.tsx
  projects/native/src/containers/Router/index.tsx
  projects/native/src/containers/Routes/index.tsx
  projects/native/src/screens/Collections.tsx
  projects/native/src/screens/Discover.tsx
  projects/native/src/screens/DiscoveryScreen.tsx
  projects/native/src/screens/JourneyScreen.tsx
  projects/native/src/screens/NotificationsScreen.tsx
  projects/native/src/screens/ProfileScreen.tsx
  projects/native/src/screens/ProgressScreen.tsx
  projects/native/src/screens/Signin.tsx
  projects/native/src/screens/SigninScreen.tsx
  projects/native/src/screens/Trip.tsx
  projects/native/src/screens/User.tsx
  projects/native/src/screens/index.tsx
Due: eslint

feat(native): setup base bar style
  projects/native/custom.d.ts
  projects/native/global.d.ts
  projects/native/ios/Podfile.lock
  projects/native/metro.config.js
  projects/native/package-lock.json
  projects/native/package.json
  projects/native/src/components/Icon/_view/Icon_view_add.svg
  projects/native/src/components/Icon/_view/Icon_view_bookmark.svg
  projects/native/src/components/Icon/_view/Icon_view_close.svg
  projects/native/src/components/Icon/_view/Icon_view_cross.svg
  projects/native/src/components/Icon/_view/Icon_view_discovery.svg
  projects/native/src/components/Icon/_view/Icon_view_journey.svg
  projects/native/src/components/Icon/_view/Icon_view_notifications.svg
  projects/native/src/components/Icon/_view/icon_view_plus.svg
  projects/native/src/components/Icon/_view/icon_view_search.svg
  projects/native/src/containers/Bar/index.tsx
  projects/native/tsconfig.json
Due: eslint, node

feat(native): use RNN
  projects/native/index.ts
  projects/native/ios/Podfile
  projects/native/ios/Podfile.lock
  projects/native/ios/farawayai/AppDelegate.m
  projects/native/package-lock.json
  projects/native/package.json
  projects/native/src/containers/Bar/index.tsx
  projects/native/src/containers/Routes/index.tsx
  projects/native/src/providers/navigation/index.ts
  projects/native/src/providers/redux/actions/app.ts
  projects/native/src/providers/redux/actions/clipboard.ts
  projects/native/src/providers/redux/actions/user.ts
  projects/native/src/providers/redux/constants/app.ts
  projects/native/src/providers/redux/constants/user.ts
  projects/native/src/providers/redux/reducers/app.ts
  projects/native/src/providers/redux/reducers/clipboard.ts
  projects/native/src/providers/redux/reducers/index.ts
  projects/native/src/providers/redux/reducers/user.ts
  projects/native/src/providers/redux/sagas/app.ts
  projects/native/src/providers/redux/sagas/clipboard.ts
  projects/native/src/providers/redux/sagas/index.ts
  projects/native/src/providers/redux/sagas/user.ts
  projects/native/src/providers/redux/store/configure.ts
  projects/native/src/providers/redux/store/index.ts
  projects/native/src/providers/redux/store/types.ts
  projects/native/src/screens/AddScreen.tsx
  projects/native/src/screens/InitializeScreen.tsx
  projects/native/src/screens/ProfileScreen.tsx
  projects/native/src/screens/index.tsx
  projects/native/src/utils/actionCreator.ts
  projects/native/src/utils/actionTypes.ts
Due: eslint, node
