Repository awinogradov/faraway.ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, node

chore: setup linters
  .eslintrc.js
  .prettierrc.js
  package-lock.json
  package.json
  projects/functions/.gitignore
  projects/functions/package-lock.json
  projects/functions/src/index.ts
  projects/functions/src/parse/instagram.js
  projects/functions/src/parse/strategies.ts
  projects/native/.eslintrc.js
  projects/native/.prettierrc.js
  projects/native/__tests__/App-test.jsx
  projects/native/index.ts
  projects/native/package-lock.json
  projects/native/package.json
  projects/native/react-native.config.js
  projects/native/src/components/Title/index.tsx
  projects/native/src/components/TravelPlan/TravelPlan.typings/index.ts
  projects/native/src/components/TravelPlan/index.tsx
  projects/native/src/providers/firebase/auth/index.ts
  projects/native/src/providers/redux/actions/app.ts
  projects/native/src/providers/redux/actions/clipboard.ts
  projects/native/src/providers/redux/actions/user.ts
  projects/native/src/providers/redux/reducers/app.ts
  projects/native/src/providers/redux/reducers/clipboard.ts
  projects/native/src/providers/redux/reducers/index.ts
  projects/native/src/providers/redux/reducers/user.ts
  projects/native/src/providers/redux/sagas/clipboard.ts
  projects/native/src/providers/redux/sagas/database.ts
  projects/native/src/providers/redux/sagas/index.ts
  projects/native/src/providers/redux/store/configure.ts
  projects/native/src/providers/redux/store/index.ts
  projects/native/src/providers/redux/store/types.ts
  projects/native/src/providers/redux/subscriptions/appState.ts
  projects/native/src/providers/redux/subscriptions/auth.ts
  projects/native/src/screens/Page.tsx
  projects/native/src/screens/Root.tsx
  projects/native/src/screens/Signin.tsx
  projects/native/src/screens/index.tsx
Due: eslint, node

chore: add lint hooks
  .huskyrc.json
  .lintstagedrc
  package-lock.json
  package.json
Due: node

chore: setup circleci
  .circleci/config.yml
  .nvmrc
  README.md
  package.json
  projects/functions/package-lock.json
  projects/functions/package.json
  projects/native/package-lock.json
Due: node

chore(native): update RN and Pods
  projects/native/ios/GoogleService-Info.plist
  projects/native/ios/Podfile
  projects/native/ios/Podfile.lock
  projects/native/ios/farawayai.xcodeproj/project.pbxproj
  projects/native/ios/farawayai/AppDelegate.m
  projects/native/ios/farawayai/Base.lproj/LaunchScreen.xib
  projects/native/package-lock.json
  projects/native/package.json
  projects/native/src/screens/Root.tsx
Due: eslint, node

chore(native): use react-router instead of RNN
  README.md
  projects/native/.eslintrc.js
  projects/native/global.d.ts
  projects/native/index.ts
  projects/native/ios/Podfile.lock
  projects/native/ios/farawayai/AppDelegate.m
  projects/native/package-lock.json
  projects/native/package.json
  projects/native/src/providers/redux/actions/user.ts
  projects/native/src/providers/redux/reducers/index.ts
  projects/native/src/providers/redux/reducers/user.ts
  projects/native/src/providers/redux/sagas/index.ts
  projects/native/src/providers/redux/sagas/user.ts
  projects/native/src/providers/redux/store/configure.ts
  projects/native/src/providers/redux/store/index.ts
  projects/native/src/providers/redux/store/types.ts
  projects/native/src/providers/redux/subscriptions/auth.ts
  projects/native/src/screens/Page.tsx
  projects/native/src/screens/Root.tsx
  projects/native/src/screens/index.tsx
  projects/native/tsconfig.json
Due: eslint, node

fix(native): use sagas for firebase/auth
  projects/native/index.ts
  projects/native/package-lock.json
  projects/native/package.json
  projects/native/src/providers/firebase/auth/index.ts
  projects/native/src/providers/redux/actions/app.ts
  projects/native/src/providers/redux/actions/clipboard.ts
  projects/native/src/providers/redux/actions/user.ts
  projects/native/src/providers/redux/reducers/user.ts
  projects/native/src/providers/redux/sagas/user.ts
  projects/native/src/providers/redux/store/types.ts
  projects/native/src/providers/redux/subscriptions/auth.ts
  projects/native/src/screens/Progress.tsx
  projects/native/src/screens/Root.tsx
  projects/native/src/screens/Signin.tsx
  projects/native/src/screens/index.tsx
Due: eslint, node

feat(native): add Swing component
  projects/native/package-lock.json
  projects/native/package.json
  projects/native/src/components/Swing/index.tsx
  projects/native/src/screens/Root.tsx
Due: eslint, node

feat(discovery): add to cloak scenario
  projects/native/src/components/InstagramPreview/index.tsx
  projects/native/src/components/Swing/index.tsx
  projects/native/src/components/Thumb/index.tsx
  projects/native/src/components/TravelPlan/index.tsx
  projects/native/src/providers/redux/actions/add.ts
  projects/native/src/providers/redux/actions/app.ts
  projects/native/src/providers/redux/reducers/add.ts
  projects/native/src/providers/redux/reducers/index.ts
  projects/native/src/providers/redux/sagas/clipboard.ts
  projects/native/src/providers/redux/sagas/database.ts
  projects/native/src/providers/redux/sagas/index.ts
  projects/native/src/providers/redux/store/index.ts
  projects/native/src/providers/redux/store/types.ts
  projects/native/src/screens/Add.tsx
  projects/native/src/screens/Root.tsx
Due: eslint

feat: update app icon
  projects/native/ios/farawayai/Images.xcassets/AppIcon.appiconset/Icon.png
  projects/native/ios/farawayai/Images.xcassets/AppIcon.appiconset/icon_20pt@2x.png
  projects/native/ios/farawayai/Images.xcassets/AppIcon.appiconset/icon_20pt@3x.png
  projects/native/ios/farawayai/Images.xcassets/AppIcon.appiconset/icon_29pt@2x.png
  projects/native/ios/farawayai/Images.xcassets/AppIcon.appiconset/icon_29pt@3x.png
  projects/native/ios/farawayai/Images.xcassets/AppIcon.appiconset/icon_40pt@2x.png
  projects/native/ios/farawayai/Images.xcassets/AppIcon.appiconset/icon_40pt@3x.png
  projects/native/ios/farawayai/Images.xcassets/AppIcon.appiconset/icon_60pt@2x.png
  projects/native/ios/farawayai/Images.xcassets/AppIcon.appiconset/icon_60pt@3x.png
Due: none

feat: base bar routing
  projects/native/src/containers/Bar/index.tsx
  projects/native/src/containers/MainScreen/index.tsx
  projects/native/src/containers/Router/index.tsx
  projects/native/src/providers/redux/store/types.ts
  projects/native/src/screens/Collections.tsx
  projects/native/src/screens/Discover.tsx
  projects/native/src/screens/Progress.tsx
  projects/native/src/screens/Root.tsx
  projects/native/src/screens/Signin.tsx
  projects/native/src/screens/Trip.tsx
  projects/native/src/screens/User.tsx
  projects/native/src/screens/index.tsx
Due: eslint

chore: add debugger start command
  projects/native/package.json
Due: node

chore: setup Redux DevTools
  projects/native/package-lock.json
  projects/native/package.json
  projects/native/src/providers/redux/store/configure.ts
Due: eslint, node

chore: setup Sentry
  projects/native/ios/Podfile.lock
  projects/native/package-lock.json
  projects/native/package.json
  projects/native/src/screens/index.tsx
Due: eslint, node

[fastlane] Changed passphrase
  README.md
  match_version.txt
Due: none

[fastlane] Updated development and platform ios
  certs/development/845VAXT8M9.cer
  certs/development/845VAXT8M9.p12
  profiles/development/Development_com.farawaytechnologies.farawayai.mobileprovision
Due: none

[fastlane] Updated appstore and platform ios
  certs/development/845VAXT8M9.cer
  certs/development/845VAXT8M9.p12
  certs/distribution/JRFUKUUDKF.cer
  certs/distribution/JRFUKUUDKF.p12
  profiles/appstore/AppStore_com.farawaytechnologies.farawayai.mobileprovision
  profiles/development/Development_com.farawaytechnologies.farawayai.mobileprovision
Due: none

chore: setup dist schema
  projects/native/README.md
  projects/native/ios/Distribution-Info.plist
  projects/native/ios/DistributionCert.p12
  projects/native/ios/Podfile
  projects/native/ios/Podfile.lock
  projects/native/ios/farawayai.xcodeproj/project.pbxproj
  projects/native/ios/farawayai.xcodeproj/xcshareddata/xcschemes/farawayai-release.xcscheme
  projects/native/ios/farawayai.xcodeproj/xcshareddata/xcschemes/farawayai-tvOS.xcscheme
  projects/native/ios/farawayai/Info.plist
  projects/native/package.json
Due: node

chore: deploy function on merge to master
  .circleci/config.yml
  projects/functions/package.json
Due: node

fix: CircleCI job name
  .circleci/config.yml
Due: none

fix: CircleCI deploy job step
  .circleci/config.yml
Due: none

chore: cleanup fastlane artifacts
  README.md
  certs/development/845VAXT8M9.cer
  certs/development/845VAXT8M9.p12
  certs/distribution/JRFUKUUDKF.cer
  certs/distribution/JRFUKUUDKF.p12
  profiles/appstore/AppStore_com.farawaytechnologies.farawayai.mobileprovision
  profiles/development/Development_com.farawaytechnologies.farawayai.mobileprovision
Due: none

chore: add token for deploy
  .circleci/config.yml
  projects/functions/package-lock.json
  projects/functions/package.json
Due: node

fix: add missed ci script
  projects/functions/package.json
Due: node

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  node: any of: *.json
